In [1]:
import pandas as pd
import numpy as np
import hdbscan
from helper import (get_repo_dir, mk_stacks, orjson_to_df, stacks_above_v, viz_slider, viz_time)

In [2]:
repo_dir = get_repo_dir()
#mpl.use('MacOSX', force=True)

In [3]:
# load data
df_jc_pitch = pd.read_csv('./data/03.21-jc_pitch.csv', engine='pyarrow')
df_lab_lobs = pd.read_csv('./data/03.30-lab_lobs.csv', engine='pyarrow')
df_ao_pitch = pd.read_csv('./data/03.31-ao_pitch.csv', engine='pyarrow')

In [4]:
# paths_jc_pitch = [repo_dir + "/bball_data3b-arch/data/2023.03.21_JC_maxV/log1.json", repo_dir + "/bball_data3b-arch/2023.03.21_JC_maxV/log2.json", repo_dir + "/bball_data3b-arch/2023.03.21_JC_maxV/log3.json", repo_dir + "/bball_data3b-arch/2023.03.21_JC_maxV/log4.json"]
# paths_lab_lobs = [repo_dir + "/bball_data3b-arch/data/2023.03.30_lab_lobs/2023-03-30_10-33-06.json.log"]
# paths_ao_pitch = [repo_dir + "/bball_data3b-arch/data/2023.03.31_pitch/2023-03-31_12-38-09.json.log", repo_dir + "/bball_data3b-arch/2023.03.31_pitch/2023-03-31_12-39-26.json.log", repo_dir + "/bball_data3b-arch/2023.03.31_pitch/2023-03-31_12-50-52.json.log", repo_dir + "/bball_data3b-arch/2023.03.31_pitch/2023-03-31_13-04-42.json.log"]
# df_jc_pitch = orjson_to_df(paths_jc_pitch)
# df_lab_lobs = orjson_to_df(paths_lab_lobs)
# df_ao_pitch = orjson_to_df(paths_ao_pitch)
# df_jc_pitch.to_csv('./data/03.21-jc_pitch.csv', index=False)
# df_lab_lobs.to_csv('./data/03.30-lab_lobs.csv', index=False)
# df_ao_pitch.to_csv('./data/03.31-ao_pitch.csv', index=False)

In [15]:
df = mk_stacks(df_jc_pitch, 10, 'frame', ['stack','frame','ts'])
dd = stacks_above_v(df, 20)

/Users/alex/Documents/neu/linuxmnt/_pymmw/bball_data3b/helper.py:53: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  N_f_stacks = f_stacks.groupby('frame').apply(lambda x: x.iloc[:N_STACKS]).reset_index(drop=True)['stack'].unique()

In [16]:
dd

                   ts  frame         x         y    z         v stack
13760   1679416411875    302 -0.201450  1.598957  0.0  0.547874   312
13771   1679416411875    302  0.412056  1.405949  0.0 -2.739372   312
13782   1679416411875    302 -0.549408  1.358173  0.0 -0.547874   312
13793   1679416411875    302  0.256390  2.035036  0.0 -0.547874   312
13803   1679416411908    303 -0.595192  1.338742  0.0 -0.547874   312
...               ...    ...       ...       ...  ...       ...   ...
366547  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1335
366548  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1336
366549  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1337
366550  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1338
366551  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1339

[65248 rows x 7 columns]

In [6]:
#viz_slider(df)

In [7]:
#pd.to_datetime(1679417167758, unit='ms')
pd.to_datetime(1679417157990, unit='ms')

Timestamp('2023-03-21 16:45:57.990000')

In [12]:
df

                   ts  frame         x         y    z         v stack
0       1679416401675      0 -0.503624  0.531962  0.0  0.547874     0
1       1679416401675      0 -0.503624  0.531962  0.0  0.547874     1
2       1679416401675      0 -0.503624  0.531962  0.0  0.547874     2
3       1679416401675      0 -0.503624  0.531962  0.0  0.547874     3
4       1679416401675      0 -0.503624  0.531962  0.0  0.547874     4
...               ...    ...       ...       ...  ...       ...   ...
366548  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1336
366549  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1337
366550  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1338
366551  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1339
366552  1679417180658   1330  0.343380  3.646589  0.0 -0.547874  1340

[366553 rows x 7 columns]

In [10]:
#df_jc_pitch.loc[df_jc_pitch['v'] >= 20]
df_ao_pitch.loc[df_ao_pitch['v'] >= 20].value_counts()

ts             frame  x          y         z           v
1680266327249  855    -1.081538  1.792841  -0.969300   20.138342    1
1680267202058  3801   -6.393090  2.015364  -8.426250   20.287514    1
1680267194795  3716   -4.758767  5.215329  -10.544748  20.138342    1
1680267194727  3714   -4.758767  4.419314  -10.902341  20.138342    1
1680267194695  3713   -2.499554  5.402652  -8.032927   20.138342    1
                                                                   ..
1680266854112  12645  -1.730461  2.392699  -3.546079   20.436687    1
                      -1.874666  2.745262  -3.200522   20.138342    1
1680266854045  12643  -1.586256  2.963956  -3.161160   20.138342    1
1680266853046  12613  -1.730461  1.403300  -2.648439   20.287514    1
1680267892168  228    -0.036051  0.452375  -1.060634   20.138342    1
Length: 1343, dtype: int64

In [1]:
df_jc_pitch.loc[df_jc_pitch['v'] >= 20,'v'].value_counts()

NameError: name 'df_jc_pitch' is not defined

In [ ]:
df_ao_pitch.loc[df_ao_pitch['v'] >= 20,'v'].value_counts()