In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/alex/Downloads/query.csv", engine='pyarrow')

In [7]:
df['regionIsoCode'].drop_duplicates()

0       ET-DD
1       ET-AF
3       JP-02
4       JP-07
5       JP-12
        ...
4409    SO-TO
4410    CS-SR
4411    YU-SR
4412    CS-CG
4413    YU-CG
Name: regionIsoCode, Length: 3786, dtype: object

In [8]:
dff = pd.read_csv("/Users/alex/Downloads/query-2.csv")

In [12]:
dff['regionIsoCode'].value_counts().sort_values()

HR-14     1
JP-16     1
JP-18     1
JP-11     1
HU-VA     1
         ..
YU-SR     1
CS-CG     1
DO-22     1
RW-01     2
LV-099    2
Name: regionIsoCode, Length: 3786, dtype: int64

In [13]:
dff.loc[dff['regionIsoCode'].isin(['RW-01','LV-099'])]

     countryIsoCode regionIsoCode                       regionLabel
909              RW         RW-01                   Kigali province
1392             LV        LV-099  Tukums Municipality  (2009-2021)
1519             LV        LV-099               Tukums Municipality
3325             RW         RW-01                            Kigali